# Node.js dependencies
node_modules/

# Build output
public/build/

# SvelteKit specific
.svelte-kit/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*.local

# IDE files
.idea/
*.swp
*.swo
.DS_Store
